.container-wb{
    position:fixed;
    width:100vw;
    height:120vh;
    overflow: scroll;
    background: linear-gradient(#8393be,white);
}

.color-picker-container-wb{
    text-align: center;
    display: inline;
    color: #1a2238;
    font-weight: bold;
    font-size: 3vh;
}

.brushsize-container-wb{
    text-align: center;
    display: inline;
    color: #1a2238;
    font-weight: bold;
    font-size: 3vh;
    margin-left: 3vh;
}

.tools-section-wb{
    text-align: center;
}

.board-container-wb{
    width: 100vw;
    height: 120vh;
    margin: auto;
    margin-top: 1%;
    background: white;
}
.txt{
    font-family: 'Times New Roman', Times, serif;
    color: #1a2238;
    margin-left: 2%;
}
.tpt{
    font-size: 3vh;
    margin-left: 2.5%;
    color: #1a2238;
    font-family: 'Times New Roman', Times, serif;
}