.container-wb{
    position:fixed;
    width:100vw;
    height:120vh;
    overflow: scroll;
    background: #27324e;
}

.color-picker-container-wb{
    text-align: center;
    display: inline;
    color: #ffffff;
    font-weight: bold;
    font-size: 3vh;
}

.brushsize-container-wb{
    text-align: center;
    display: inline;
    color: #f1eaea;
    font-weight: bold;
    font-size: 3vh;
    margin-left: 3vh;
}

.tools-section-wb{
    text-align: center;
}

.board-container-wb{
    width: 100vw;
    height: 120vh;
    margin: auto;
    margin-top: 1%;
    background: rgb(245, 243, 243);
}
.txt{
    font-family: 'Times New Roman', Times, serif;
    color: #f3e9e9;
    margin-left: 2%;
}
.tpt{
    font-size: 3vh;
    margin-left: 2.5%;
    color: #fdfcef;
    font-family: 'Times New Roman', Times, serif;
}
.bb{
    margin-left: 80vh;
}