
.flippy{
    margin-top: 20vh;
    margin-left: 28vh;
    height: 20vh;
    width: 20vh;
    
    
}
.text-card{
    color: #d4ecdd !important;
}
body{
    background: repeating-linear-gradient( #1a2238,  #1a2238 58.7%, #a2abc5  50.1%,white 100%);
    
}

.tt{
    color: white;
    margin-top: 20vh;
}

.ti{
    color: white;
    margin-top: 20vh;
}
.bb{
    margin-left: 45%;

}
  
.front{
    background-image: url(./images/p4.png);
    background-repeat: no-repeat;
    background-size: 20vh 20vh;
    border-radius: 10%;
}
.back{
    background-color:#D5970F;
    color:  #1a2238;
    border-radius: 10%;
    text-align: center;
    padding-top: 2vh;
    font-weight: bold;

}
.flippy2{
    margin-top: 4vh;
    margin-left: 53vh;
    height: 25vh;
    width: 25vh;
}
.front2{
    background-image: url(./images/p1.png);
    background-repeat: no-repeat;
    background-size: 25vh 25vh;
    border-radius: 10%;
}
.back2{

    background-color:#D5970F;
    color:  #1a2238;
    border-radius: 10%;
    text-align: center;
    padding-top: 3vh;
    font-weight: bold;
}
.flippy3{
    margin-top: -47.6vh;
    margin-left: 51vh;
    height:20vh;
    width: 20vh;
    
}
.front3{
    background-image: url(./images/p2.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size:20vh 20vh;
}
.back3{
    background-color:#8593e4;
    color:  #1a2238;
    border-radius: 50%;
    text-align: center;
    padding-top: 7vh;
    font-weight: bold;

}
.flippy4{
    
    margin-top: 2vh;
    margin-left: 20vh;
    height: 30vh;
    width: 29vh;
    
}
.front4{
    background-image: url(./images/p.png);
    background-repeat: no-repeat;
    background-size: 29vh 30vh;
    border-radius: 10%;
}
.back4{
    background-color:#8593e4;;
    color:  #1a2238;
    border-radius: 10%;
    text-align: center;
    padding-top: 10vh;
    font-weight: 400;
    font-weight: bold;

}


 .my_h{
    color: #D5970F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 10vh;
    padding: 1vh;
    text-align: center;
}
.my_p{
    color: #1a2238 !important;
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5vh;
    font-weight: light;
    padding-left: 10vh;
    padding-right: 10vh;
 
} 
