
.text-card {
	color: #d4ecdd !important;
}
body {
	background: repeating-linear-gradient(
		#1a2238,
		#1a2238 58.7%,
		#a2abc5 50.1%,
		white 100%
	);
}

.whiteboard__con {
	margin-top: 9rem;
	padding: 1rem 0;
	text-align: center;
}

.whiteboard__title {
	font-size: 9vh;
	color: #d5970f;
	text-align: center;
}

.btn__whiteboard {
	margin-top: 1.5rem;
	padding: 10px;
}

.to {
	margin-top: 5rem;
}

.tt {
	margin-top: 5rem;
	text-align: left;
	margin-left: 5%;
	padding: 0 1rem;
	font-style: italic;
	text-decoration: underline;
	font-weight: 700;
}

.link-box {
	padding: 0 3rem;
}

.btn__link {
	margin-left: 70% !important;
	margin-top: -3rem !important;
	padding: 5px 2rem;
}
.flippy {
	margin-top:2vh;
	margin-left:40vh;
	height: 25vh;
	width: 25vh;
}

.front {
	background-image: url(./images/study.png);
	background-repeat: no-repeat;
	background-size: 25vh 25vh;
	border-radius: 10%;
}
.back {
	background-color: #d5970f;
	color: #1a2238;
	border-radius: 10%;
	text-align: center;
	padding-top: 0.63rem;
	font-weight: bold;
	font-size: 0.9rem;
}
.flippy2 {
	margin-top: 2vh;
	margin-left: 48vh;
	height: 19vh;
	width: 19vh;
}
.front2 {
	background-image: url(./images/p1.png);
	background-repeat: no-repeat;
	background-size: 19vh 19vh;
	border-radius: 10%;
}
.back2 {
	background-color: #d5970f;
	color: #1a2238;
	border-radius: 10%;
	text-align: center;
	padding-top: 0rem;
	font-weight: bold;
}
 .flippy3 {
	margin-top: -19vh;
	margin-left: 21vh;
	height: 25vh;
	width: 25vh;
}
.front3 {
	background-image: url(./images/download.png);
	background-repeat: no-repeat;
	border-radius: 10%;
	background-size: 25vh 25vh;
}
.back3 {
	background-color: #8593e4;
	color: #1a2238;
	border-radius: 10%;
	text-align: center;
	padding-top: 2.9rem;
	font-weight: 400;
} 
.flippy4 {
	margin-top:-40vh;
	margin-left: 68vh;
	height: 20vh;
	width: 20vh;
}
.front4 {
	background-image: url(./images/d.png);
	background-repeat: no-repeat;
	background-size: 20vh 20vh;
	border-radius: 10%;
}
.back4 {
	background-color: #8593e4;
	color: #1a2238;
	border-radius: 10%;
	text-align: center;
	padding-top: 3.2rem;
	font-weight: 400;
}

 .flippy7 {
	margin-top: 2vh;
	margin-left: 68vh;
	height: 25vh;
	width: 25vh;
}
.front7 {
	background-image: url(./images/me.png);
	background-repeat: no-repeat;
	background-size: 25vh 25vh;
	border-radius: 10%;
}
.back7 {
	background-color: #8593e4;
	color: #1a2238;
	border-radius: 10%;
	text-align: center;
	padding-top: 20vh;
	font-weight: 400;
}

.flippy5 {
	margin-top:-11vh;
	margin-left: 47vh;
	height: 19vh;
	width: 19vh;
}
.front5 {
	background-image: url(./images/iag.png);
	background-repeat: no-repeat;
	background-size: 19vh 19vh;
	border-radius: 10%;
}
.back5 {
	background-color: #8593e4;
	color: #1a2238;
	text-align: center;
	padding-top: 2.9rem;
	font-weight: 400;
	border-radius: 10%;
}



.my_h {
	color: #d5970f;
	font-family: 'Lato', 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 3.4rem;
	padding: 1vh;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 3px;
	padding-bottom: 1.7rem;
}
.my_p {
	color: #ffffff !important;
	font-size: 0.9rem;
	font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding-top: 0rem;
	font-weight: 400;
	padding-left: 4.24rem;
	padding-right: 4.24rem;
	font-size: 1rem;
}
